

#wrapper{
	width:50%;
	margin:30px auto 20px auto;
}





#headersu{
	height:15%;
	padding-bottom:.5vw;
	width:100%;
}

#gambar{
	height:5.5vw;
	width:5.5vw;
	margin-left:10%;
	float:left;
}
#tulisan_uin{
	height:100%;
	width:90%;
	text-align:center;
	font-size:1.2em;
}
#garis{
	border-top:3px solid;
	
	border-bottom:1px solid;
	height:3px;
}
#ket{
	margin-top:2%;
	height:6%;
	width:100%;
	color:green;
	font-size:1.5vw;
	text-align:center;
}
#keterangan{
	
}
#id{
	margin-left:60%;
}

















.header{
	height:100%;
	background:url('../images/header.png') no-repeat ;
	background-size:100%;
}

.head{
	color:#fff;
	font-size:3vw;
	margin-top:3vw;
	font-weight:bold;
	font-family:Arial Narrow;
}

.kotak{
	padding-top:3vw;
	min-height:40vw;
}

.kanan{
	background-color:#fbfbfb;
	float:left;
	padding-top:2vw;
	padding-bottom:2vw;
	width:25%;
	border-radius:3px;
	padding-left:3vw;
}

.foto{
	width:80%;
	height:17vw;
}
.foto img{
	width:100%;
	height:100%;
}
.tempatNama{
	width:80%;
}

.nama1{
	padding-top:1vw;
	font-size:.9vw;
	color:#2b975b;
	font-weight:bold;
}
.nama{
	font-size:1.2vw;
}

.kiri{
	width:75%;
	margin-left:25%;
}

.jud1{
	font-size:1vw;
	text-align:right;
	background-color:#2b975b;
	padding:.7vw;
	margin-left:40vw;
	border-right:2px solid #eee;
	font-weight:bold;
	color:#fff;
}
.jud{
	text-align:right;
	font-size:2vw;
	padding-top:.7vw;
	color:#2b975b;
	font-weight:bold;
}

.lb{
	float:left;
}
.lb2{
	float:left;
}
.hp{
	height:1px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.hp2{
	height:1px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.fc{
	margin-left:10vw;
	width:43vw;
}
.fc2{
	margin-left:14vw;
}
.fc3{
	margin-left:18vw;
}

.w{
	width:40vw;
}
.n{
	margin-left:10vh;
}
.content{
	padding-top:4vw;
	padding-left:5vw;
	padding-bottom:5vw; 
}

.judulC{
	font-size:1.3vw;
	font-weight:bold;
	padding-bottom:2vw;
}

.f{
	border:1px solid #eee;
	margin-left:18vw;
	border-radius:15px;
}
.f img{
	width:19vh;
	padding:1vh;
	padding-left:4vh;
}

.footer{
	height:3vh;
	width:100%;
	background-color:#2b975b;
}

.textpeng{
	text-align:center;
	font-weight:bold;
	font-size:1.5vw;
}


.nominal{
	text-align:center;
	font-weight:bold;
	font-size:3vw;
	border-bottom:1px solid #000;
	color:red;
}

.ketpeng{
	padding-top:1.5vw;
	text-align:justify;
	font-size:1.5vw;
}

.headersu{
	padding-bottom:1.5vw;
}