
/*--------------CSS Login---------------*/

.modal-title{
	color: #2b975b;
	font-size:5vh;
	font-weight:bold;
}
.modal-header{
	margin-top:-2vh;
}
.modal-body{
	text-align:left;
	color: #2b975b;
}

/*---------------------------------------------*/


/*--------------CSS Form Kemahasiswaan---------------*/

.header{
	height:100%;
	background:url('../images/header.png') no-repeat ;
	background-size:100%;
}

.head{
	color:#fff;
	font-size:3vw;
	margin-top:3vw;
	font-weight:bold;
	font-family:Arial Narrow;
}

.kotak{
	padding-top:3vw;
	min-height:40vw;
}

.kanan{
	background-color:#fbfbfb;
	float:left;
	padding-top:2vw;
	padding-bottom:2vw;
	width:25%;
	border-radius:3px;
	padding-left:3vw;
}

.foto{
	width:80%;
	height:17vw;
}
.foto img{
	width:100%;
	height:100%;
}
.tempatNama{
	width:80%;
}

.nama1{
	padding-top:1vw;
	font-size:.9vw;
	color:#2b975b;
	font-weight:bold;
}
.nama{
	font-size:1.2vw;
}

.kiri{
	width:75%;
	margin-left:25%;
}

.jud1{
	font-size:1vw;
	text-align:right;
	background-color:#2b975b;
	padding:.7vw;
	margin-left:50vw;
	border-right:2px solid #eee;
	font-weight:bold;
	color:#fff;
}
.jud{
	text-align:right;
	font-size:2vw;
	padding-top:.7vw;
	color:#2b975b;
	font-weight:bold;
}

.lb{
	float:left;
}
.lb2{
	float:left;
}
.hp{
	height:1px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.hp2{
	height:1px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.fc{
	margin-left:10vw;
	width:43vw;
}
.fc2{
	margin-left:14vw;
}
.fc3{
	margin-left:18vw;
}

.w{
	width:40vw;
}
.n{
	margin-left:10vh;
}
.content{
	padding-top:4vw;
	padding-left:5vw;
	padding-bottom:5vw; 
}

.judulC{
	font-size:1.3vw;
	font-weight:bold;
	padding-bottom:2vw;
}

.f{
	border:1px solid #eee;
	margin-left:18vw;
	border-radius:15px;
}
.f img{
	width:19vh;
	padding:1vh;
	padding-left:4vh;
}

.footer{
	height:3vh;
	width:100%;
	background-color:#2b975b;
}

.nav-tabs {height:3.8vw;font-size:1.2vw; border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #2b975b !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #2b975b; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 1vw 0; }
.tab-content{padding:1.6vw}

.card {background: #FFF none repeat scroll 0% 0%;  margin-bottom: 30px; }

.form-group label{
	font-size:1vw;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
[data-tip]{
	position:relative;
	cursor: pointer;
}
[data-tip]::before, [data-tip]::after { position:absolute }
[data-tip]::before{
	content:"";
	width:0; height:0;
	border-style:solid;
	border-width:5px;
	border-color:black transparent transparent;
	left:20px;
	bottom:100%;
	margin-bottom:-10px;
}
[data-tip]::after{
	content:attr(data-tip);
	background:black;
	color:white;
	padding:3px;
	border-radius:3px;
	bottom:100%;
	box-shadow:3px 3px 1px rgba(0,0,0,.2);
	left:0;
	white-space:nowrap;
}
[data-tip]::before, [data-tip]:after { 
	position:absolute 
	display:none;
}
[data-tip]:hover::before, [data-tip]:hover::after{ display:block }
/*--------------CSS Form Kaprot---------------*/

.headerK{
	height:14vw;
	border-bottom:10px solid #e6e7e7;
	background-color:#2b975b;
	width:100%;
	padding-top:.5vw;
}

.head2{
	color:#fff;
	font-size:3vw;
	margin-top:3vw;
	font-weight:bold;
	font-family:Arial Narrow;
}

.judulK{
	padding-top:1.5vw;
	color:#fff;
	font-size:2.5vw;
	font-weight:bold;
	font-family:Arial Narrow;
}

.logo{
	float:left;
	height:10vw;
	width:10vw;
}
.logo img{
	height:100%;
	width:100%;
}
td a{
	color:green;
}

.atas{
	height:6vh;
	width:100%;
	background-color:#eee;
}

.jd{
	font-size:4vh;
	color:#2b975b;
	font-weight:bold;
}
/*--------------------------------------------*/

/*--------------CSS Form Atasan---------------*/

.e{
	text-align:center;margin-bottom:2vw;font-size:5vh;
	font-size:4.5vh;
	color:#2b975b;
	font-weight:bold;
}
.kotpres{
	padding:1vw;
	margin-bottom:2vw;
	border-top:3px solid #2b975b;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.kotpres1{
	padding:.2vw;
	font-size:1.7vw;
	font-weight:bold;	
	background-color:#eee;
	color:#2b975b;
}

.kotpres2{
	margin-top:2vw;
}

.kotpres3{
	background-color:#2e3a43;
	color:#fff;
	margin-top:2vw;
	border:1px solid;
	padding:1vw;
}
.kotpres3:hover{
	background-color:#307bbb;
}
.kotpres31{
	background-color:#2e3a43;
	color:#fff;
	margin-top:2vw;
	border:1px solid;
	padding:1vw;
}
.kotpres31:hover{
	background-color:#4db53c;
}
.kotpres32{
	background-color:#2e3a43;
	color:#fff;
	margin-top:2vw;
	border:1px solid;
	padding:1vw;
}
.kotpres32:hover{
	background-color:#dd9d22;
}
.c100.big {
    font-size: 9.8vw;
}

.m{
	margin-left:8vw;
}
/*--------------------------------------------*/

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;  
}

.conpage{
	font-size:13vw;
	border-top:1px solid #666;
	margin-top:3vw;
	color:#f4d743;
	border-bottom:1px solid #666;
	text-align:center;
}
.conpage1{
	font-size:3vw;
	margin-top:3vw;
	color:#2b975b;
	text-align:center;
}
.alert{
	margin-top:3vw;
}
.foot{
	margin-top:2vw;
	text-align:center;
	color:#2b975b;
}

@media only screen and (max-width: 768px) {
	.header{
		background:url('../images/header.png') no-repeat ;
		background-size:220%;
	}
	.head{
		font-size:8vw;
	}
	.kotJ{
		margin-top:10vw;
	}
	.tab-content{
		padding-top:5vw;
	}
	.jud1{
		font-size:4vw;
		padding:1.2vw;
		margin-left:55vw;
	}
	.jud{
		font-size:5vw;
	}

	.tempatNama{
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}
	.kanan{
		/* text-indent:-9999px; */
		margin:0 auto;
		height:20vw;
		margin-left:5vw;
		background-color: #fff;
	}
	
	.kiri{
		width:100%;
		margin-left:0%;
	}
	.nav-tabs { height:5vw;font-size:3vw;border-bottom: none; }
	.nav-tabs2 { height:5vw;font-size:4vw;border-bottom: none; }
	
	.form-group label{
		font-size:2.5vw;
	}
	.form-group .lb2{
		font-size:4vw;
	}
	.form-control {
		height:4.5vw;
	}
	.form-control2{
		    display: block;
    width: 100%;
    height: 28px;
    padding: .2vw .5vw;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .5vw;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.lb{
		float:none;
	}
	.lb2{
		float:none;
	}
	.fc{
		width:90%;
		margin-left:0%;
	}
	.fc2{
		width:100%;
		margin-top:-1vw;
		margin-left:0%;
	}
	.form-control{
		font-size:2.5vw;
	}
	.w{
		width:100%;
	}
	.n{
		margin-left:2vh;
	}
	.input-group{
		height:4.5vw;
	}
	.btn{
		font-size:3vw;
	}
	.hp{
		height:43vw;
		text-indent: 0%;
		white-space: normal;
	}
	.hp2{
		height:55vw;
		text-indent: 0%;
		white-space: normal;
	}
	.f{
		margin-left:0%;
	}
	
	.input-sm {
		height: 30px;
		width:60vw;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	}
	
	.fc3{
		margin-left:0%;
	}

/*---------------------------------*/

/*-----------Form Kaprod-----------*/
	.headerK{
		height:41vw;
	}
	
	.head2{
		font-size:7vw;
	}
	
	.judulK{
		font-size:5vw;
	}

	.logo{
		height:30vw;
		width:30vw;
	}
	
	.jd{
		font-size:4vw;
	}
	.atas{
		height:5vh;
	}
/*---------------------------------*/
.c100.big {
    font-size: 24vw;
}
.kotpres1{
	padding:.2vw;
	font-size:4vw;
	font-weight:bold;	
	background-color:#eee;
	color:#2b975b;
}
.kotpres3{
	font-size:4vw;
}
.kotpres31{
	font-size:4vw;
}
.kotpres32{
	font-size:4vw;
}
.e{
	font-size:4vw;
}
.m{
	margin-left:0%;
}

}
